# Build artefacts and test executables
build/
cmake-build*/
hemocell_test

# External dependencies
palabos/
parmetis*/

# Typical output directories generated under examples/
log*/
tmp*/
output*/

# Object files, log files, archives
*.o
*.so
*.a
*.exe
*.log
*.tar
*.xz
*.gz

# IDE or OS related files
.idea/
.cache/
*sconsign.dblite
*.DS_Store
*.plist
settings.json

# Common other ignore files (fuzzy searchers etc.)
.ignore
.rgignore
