# Ignore build, result, and log directories
log/
tmp/
palabos/
build/
!build/*/CMakeLists.txt

# Ignore IDE, buildsystem and OS specific cache directories and object files
.idea/
*sconsign.dblite
*.o
*.DS_Store
*.plist

# Ignore the default case binary names
fromSTL
stretchCell
stretching
pipeflow
