<?xml version="1.0" ?>

<cell>
    <rbc_model> 1 </rbc_model> <!--Krueger: [0], WLC: [1], FENE: [2], LD-RBC: [3] (Non implemented)-->
    <shellDensity> 1. </shellDensity>
    <k_WLC> 0.00 </k_WLC> <!--Worm-like chain modulus coefficient (dimensionless) [1.0] -->
    <k_elastic> 0.0 </k_elastic> <!--elastic modulus coefficient (dimensionless) [1.0] -->
    <k_bend> 750 </k_bend> <!--bending modulus (in k_BT units) [75] {KruegerThesis2011, FedosovCaswell2010b}-->
    <k_surface> 0.00 </k_surface> <!--surface conservation modulus (in N/m units) [0.5]     <k_surface> -0.00001 </k_surface> <!--surface conservation modulus (in N/m units) [0.5] {KruegerThesis2011, Dupin2007}--> 
    <k_volume> 0e0 </k_volume> <!--volume conservation modulus (in N/m2 units) [7.23e5] {KruegerThesis2011}-->
    <eta_m> 0.022 </eta_m> <!--membrane viscosity (in N s/m2 (Pa s) units ) [0.022] {Fedosov2010b}-->
<!-- +++++ -->
<!-- Testing phase-->
<!-- +++++ -->
    <k_stretch> 0.0 </k_stretch> <!--spring modulus (in N) [0]-->
    <k_shear> 0.0 </k_shear> <!--local area constrain modulus (in N/m units) [0.0]--> 
</cell>


<parameters>
    <flowType> 1 </flowType>   <!--flowType: Poisseuille:0 Couette:1-->
    <Re> 0. </Re>   <!--Reynolds number-->
    <shearRate> 500 </shearRate>   <!--Shear Rate for Couette flow, Physical units [1/s]. Using ny-->
    <rho_p> 1025 </rho_p>   <!--Density of the surrounding fluid, Physical units [kg/m^3]-->
    <nu_p> 1.7e-6 </nu_p>   <!-- Dynamic viscosity of the surrounding fluid, physical units [m^2/s]-->
    <tau> 1.0 </tau>  <!--Relaxation time of the Lattice Boltzmann scheme-->
    <dx> 3e-6 </dx> <!--Physical length of 1 Lattice Unit -->
    <nx> 20 </nx> <!--Size of domain in Lattice Units -->
    <ny> 10 </ny>
    <nz> 10 </nz>
</parameters>


<ibm>
    <forceToFluid> 1 </forceToFluid>
    <shape> 0  </shape> <!-- shape: Sphere:[0], RBC:[1] -->
    <radius> 1.4 </radius> <!-- Radius of the particle in Lattice Units (dx) -->
</ibm>

<sim>
    <tmax> 200000 </tmax> <!-- total number of iterations -->
    <tmeas> 50 </tmeas> <!-- interval after which data is written -->> 
    <npar> 1 </npar> <!-- Number of particles > -->
</sim>


<!--<parameters>-->
<!--	<rho_p> 1025 </rho_p>   <!--Density, Physical units [kg/m^3]-->-->
<!--	<nu_p> 0.1666666 </nu_p>   <!-- Dynamic viscosity, physical units [m^2/s]-->-->
<!--	<tau> 1.0 </tau>-->
<!--	<dx> 1 </dx>-->
<!--	<lx> 50 </lx>-->
<!--	<ly> 10 </ly>-->
<!--	<lz> 10 </lz>-->
<!--</parameters>-->


<!--<parameters>-->
<!--	<u> 0.1 </u>-->
<!--	<Re> 600000 </Re>-->
<!--	<N> 1000000 </N>-->
<!--	<lx> 0.00005 </lx>-->
<!--	<ly> 0.00001 </ly>-->
<!--	<lz> 0.00001 </lz>-->
<!--</parameters>-->

