<?xml version="1.0" ?>

<cell>
	<shellDensity> 1 </shellDensity>
	<k_rest> 0.0 </k_rest>
	<k_stretch> 1.0e-6 </k_stretch>
	<k_shear> 1.0e-6 </k_shear>
	<k_bend> 1.0e-6 </k_bend>
</cell>

<parameters>
	<u> 0.01 </u>
	<Re> 20. </Re>
	<N> 1 </N>
	<lx> 20. </lx>
	<ly> 20. </ly>
	<lz> 20. </lz>
</parameters>

<ibm>
	<forceToFluid> 0 </forceToFluid>
	<RBCradius> 2. </RBCradius> 
</ibm>